node_modules
.turbo
.corepack
.pnpm-store
.prisma-cache
*.tsbuildinfo

.env
.env.*
!.env.example
!.env.production.example

dist
build
coverage
storage

.next
out

playwright-report
test-results

# Docker volumes (local)
infra/docker/.data

*.log
.DS_Store
